main {
    grid-column: 1 / 4;
    width: 100%;
    display: flex;

}

.grade-card {
    width: fit-content;
    padding: 2vh;
    background-color: rgb(96, 210, 245);
    color: blueviolet;
    margin: 1vh;
    cursor: pointer;
    width: 200px;
    height: 150px;
    font-size: 17;
}